name: Gradle Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: temurin
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Build with Gradle Wrapper
      run: ./gradlew shadowJar
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v6
      with:
        path: build/libs/HOCONReader.jar
